<!doctype html>
<html lang="en">

<head>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&family=Suez+One&display=swap" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
    <meta name="Description" content="Author: D Benseman, Content: A dictionary to convert maori words to english.">
</head>

<body>
<div id="container">

    <header>
        <h1>{% block heading %}Maori Dictionary{% endblock %}</h1>
    </header>

    <nav>
        <input type="checkbox" name="drop_down_menu"/>
        <ul>
            <li><a href="\">Home</a></li>

            {% if not logged_in %}
                <li><a href="\login">Login</a></li>
                <li><a href="\signup">Signup</a></li>
            {% else %}
                <li><a href="\logout">Logout</a></li>
            {% endif %}

            {% if modify %}
            <p4>_____________________</p4>
            <br>
            <br>
            <li><a href="\add">Add Word</a></li>
            {% endif %}

            <p4>_____________________</p4>
            <br>
            <br>

            {% for category in all_categories %}
            <li><a href="\category/{{ category[0] }}">{{ category[1] }}</a></li>
            {% endfor %}
        </ul>
    </nav>

    <main>
        {% block main%}{% endblock %}
    </main>
</div>
</body>
<footer>
    <p>
        &copy; Witek Betkier 2022
    </p>
</footer>
</html>