{%  extends 'base.html' %}

{% block title %}Maōri Dictionary | Words{% endblock %}

{% block heading %}Maōri - English Dictionary{% endblock %}

{% block main %}
<div class="">
    <h2>{{ words_found[0][1] }} - {{ words_found[0][2] }}</h2>
    <h2>Definition - {{ words_found[0][4] }}</h2>
    <h3>Level - {{ words_found[0][5] }}</h3>
</div>
<br>

<table>
    <tr>
        <th>Maori</th>
        <th>English</th>
        <th>Image</th>
    </tr>
    {% for word in words_found %}
    <tr class="">
        <td><a href="\dictionary/{{ word[0] }}">{{ word[1] }}</a></td>
        <td><a href="\dictionary/{{ word[0] }}">{{ word[2] }}</a></td>
        <td><img src="/static/images/{{ word[6] }}"></td>
    </tr>
    {% endfor %}
</table>

<h3>Edited by {{ word_user_data[0][1] }} on {{ words_found[0][8] }}</h3>
<h2>Delete?</h2>
{% endblock %}
